{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>Document</title>
    {% include 'core/generalheads.html' %}
    {% tailwind_css %}
</head>
<body>
    {% include 'core/nav.html' %}
        <div class="flex justify-center mt-12">
            <div class="flex flex-col items-center">
                <img src="{% static 'images/srclogo.png' %}" alt="logo" class="w-32">
                <p class="font-semibold text-2xl font-poppins">Student Research Council</p>

                <p class="font-poppins text-2xl mt-12">Your Password Has Been Succesfully Reset 
                    <a href="/signin" class="font-medium text-blue-500 underline">Signin</a>
                 to Continue</p>
            </div>
        </div>

    {% include 'core/generalscripts.html' %}
</body>
</html>