{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>Student Research Council | Create Account</title>
    {% include 'core/generalheads.html' %}
    {% tailwind_css %}
</head>
<body>
    <nav class="p-6 flex justify-between items-center w-full font-poppins sticky top-0 z-30 bg-white">
        <div>
            <div class="flex items-center gap-2 md:gap-3 font-[Poppins] z-40">
                <img src="{% static 'images/mcetlogo.png' %}" alt="logo" class="w-19 h-10 " />
                <span class="w-[1px] h-[20px] bg-gray-300 rounded-md"></span>
                <div class="flex items-center gap-3">
                  <img src="{% static 'images/srclogo.png' %}" alt="logo" class="w-12" />
                  <div class="flex flex-col justify-center">
                    <p class="text-lg mb-1 text-gray-500 hidden md:block">Dr.Mahalingam College of Engineering & Technology</p>
                    <p class="text-xl font-semibold mb-0 leading-none">Student Research Council</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="hidden md:flex gap-12 justify-center font-medium text-gray-600">
          <a href="/" class="text-xl hover:underline transition-all">Home</a>
          <a href="#" class="text-xl hover:underline transition-all">Events</a>
          <a href="#" class="text-xl hover:underline transition-all">Hall Of Fame</a>
          <a href="#" class="text-xl hover:underline transition-all">Contact</a>
      </div>
      <div class="block">
        <a href="/signup" class="py-3 px-7 text-lg font-medium bg-[#1E88E5] hover:bg-[#28679f] transition-all rounded-3xl text-white">
          Signup
        </a>
      </div>
    </nav>
    <!-- MAIN -->
    <div class="parent flex justify-center gap-4 h-[100vh] lg:flex-nowrap flex-wrap items-start w-full font-poppins">
        <div class="flex flex-col px-6 py-10 lg:px-8   w-[90%] md:w-[500px]">
            <div>
                <!-- <div class="flex items-center gap-4">
                    <img src="{% static 'images/srclogo.png' %}" alt="logo" class="w-24">
                    <p class="text-4xl font-semibold">Student Research <br>Council</p>
                </div> -->
                <p class="text-3xl font-poppins font-semibold mt-12">Password Reset</p>
                <p>Please enter the personal mail you provided while registering the account. We'll be sending a mail containing the password reset link</p>
                <p class="errortext text-red-600 text-xl">{{error}}</p>
            </div>
          <div class="w-full">
            <form class="form space-y-7" method="POST">
              {% csrf_token %}
              <div>
                <label for="username" class="block text-xl font-medium leading-6 text-gray-900">Personal Mail ID</label>
                <div class="mt-1">
                  <input id="username" name="email" type="text" required class="rollno lowercase block w-full rounded-md border-0 py-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6">
                </div>
              </div>
              
              <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-[#1E88E5] px-3 py-3 text-xl font-semibold leading-6 text-white shadow-sm hover:bg-[#2a70ac] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Send Mail</button>
              </div>
            </form>
        
            <p class="mt-2 text-center text-xl text-gray-500">
              Have Your Password?
              <a href="/signup" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Signin</a>
            </p>
          </div>
        </div>
      </div>
</body>
</html>