{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechnoFete'25 | {{ event.eventname }}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% include 'core/generalheads.html' %}
    {% tailwind_css %}
</head>
<body class="relative py-6">
    {% include 'core/nav.html' %}
    {% if messages %}
        <div class="w-full p-6 text-center bg-red-200 font-poppins">
            {% for message in messages %}
            {% autoescape off %}
            {{message}}
            {% endautoescape %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="p-12 flex justify-center gap-y-12 items-center font-poppins flex-wrap">
        <div class="md:w-[50%] flex justify-center items-center">
            <img src="{{event.poster.url}}" class="max-w-[350px] shadow-lg rounded-xl border-2 border-gray-300">
        </div>
        <div class="md:w-[50%] flex flex-col justify-start items-start h-full">
            <div class="flex justify-between items-center w-full flex-wrap gap-2">
                <div>
                    <p class="text-4xl font-bold">{{event.eventname}}</p>  
                    <p class="text-xl font-light">Organized by {{event.department.association_name}} 
                      {% if event.department.association_name != "Student Research Council" %}
                      Association
                      {% endif %}
                    </p>
                </div>
                <div class="px-6 py-1 border border-black rounded-full flex justify-center items-center">
                    {{ event.department.dept_name }}
                </div>
            </div>
            <p class="text-xl text-gray-600 mt-6">{{event.short_description}}</p>

            <p class="text-2xl font-bold mt-6">Details:</p>
            <p class="text-xl mt-2">
              {{event.round_details|linebreaksbr}}
            </p>
            <p class="text-2xl mt-6"><span class="font-bold">Team Size: </span> {{event.min_team_size}} - {{event.max_team_size}}</p>
            <p class="text-2xl mt-2"><span class="font-bold">Event Whereabouts: </span>
              {{event.startdate|date:"F d, Y. g:iA"}} - {{event.enddate|date:"g:iA"}}
            </p>
            <p class="text-2xl mt-2"><span class="font-bold">Jury Details: </span> {{event.jury_details}}</p>
            <p class="text-2xl mt-2"><span class="font-bold">Student Coordinator: </span> {{event.student_coordinator}}</p>
            <div class="mt-12 min-w-full flex gap-4 flex-wrap md:flex-nowrap">
                <a href="#register" class=" mt-4 w-full rounded-md bg-[#F2B229] px-6 py-4 text-xl font-semibold text-black text-center shadow-sm hover:bg-[#d1a547] transition flex gap-2 justify-center items-center">
                  Register
                  <img src="{% static 'images/arrow2.svg' %}" class="w-6 rotate-90">
                </a>
                {% if event.additional_files %}
                <a href="{% url 'downloadadditionalfile' event.micro_of event.id %}" class=" mt-4 w-full rounded-md border border-[#F2B229] px-6 py-4 text-xl font-semibold text-black text-center shadow-sm hover:bg-[#d1a547] transition flex gap-2 justify-center items-center">
                  {{event.ad_btn_text}}
                  <img src="{% static 'images/download.svg' %}" class="w-6 invert">
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="p-12 font-poppins max-w-[500px] mx-auto" id="register">
        <p class="text-4xl font-bold">Register</p>
        <p class="text-red-400 font-semibold errortext text-xl">
          {% autoescape off %}
          {{error}}
          {% endautoescape %}
        </p>
        <form class="bg-white form" method="POST">
            {% csrf_token %}
            <div class="space-y-12">
              <div>
                <div class="mt-4  gap-x-6 gap-y-8 sm:grid-cols-6">
                  {% for _ in ''|ljust:event.max_team_size %}
                  {% if forloop.counter == 1 %}
                        {% if event.is_team_event %}
                        <div class="sm:col-span-3 mt-4">
                          <label for="title" class="block text-lg font-medium leading-6 text-gray-900">Team Name</label>
                          <div class="mt-2 min-w-full">
                            <div class="min-w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                              <input required type="text" maxlength="100" name="teamname" id="title" class="min-w-full block border-0 bg-transparent py-3 pl-4 text-gray-900 placeholder:text-gray-400 focus:ring-0 text-xl sm:leading-6" >
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        <div class="sm:col-span-3 mt-4">
                            <label for="title" class="block text-lg font-medium leading-6 text-gray-900">Name of Participant {{ forloop.counter }} (You)</label>
                            <div class="mt-2 min-w-full">
                              <div class="min-w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                                <input required type="text" value="{{request.user.full_name}}" disabled  maxlength="100" class="min-w-full block border-0 bg-transparent py-3 pl-4 text-gray-900 placeholder:text-gray-400 focus:ring-0 text-xl sm:leading-6" >
                              </div>
                            </div>
                        </div>

                        <div class="sm:col-span-3 mt-4">
                            <label for="title" class="block text-xl font-medium leading-6 text-gray-900">Full Roll Number (eg: 727623BAD***)</label>
                            <div class="mt-2 min-w-full">
                              <div class="min-w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                                <input required type="text" value="{{request.user.username}}" disabled class="min-w-full block border-0 bg-transparent py-3 pl-4 text-gray-900 placeholder:text-gray-400 focus:ring-0 text-xl sm:leading-6" >
                              </div>
                            </div>
                        </div>

                        <!-- POST-Ease Values -->
                  <div class="hidden">
                    <div class="sm:col-span-3 mt-4">
                            <label for="title" class="block text-lg font-medium leading-6 text-gray-900">Name of Participant {{ forloop.counter }}</label>
                            <div class="mt-2 min-w-full">
                              <div class="min-w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                                <input required type="text" value="{{request.user.full_name}}" name="participantname" maxlength="100" class="min-w-full block border-0 bg-transparent py-3 pl-4 text-gray-900 placeholder:text-gray-400 focus:ring-0 text-xl sm:leading-6" >
                              </div>
                            </div>
                        </div>

                        <div class="sm:col-span-3 mt-4">
                            <label for="title" class="block text-xl font-medium leading-6 text-gray-900">Full Roll Number (eg: 727623BAD***)</label>
                            <div class="mt-2 min-w-full">
                              <div class="min-w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                                <input required type="text" value="{{request.user.username}}" name="rollno" class="min-w-full block border-0 bg-transparent py-3 pl-4 text-gray-900 placeholder:text-gray-400 focus:ring-0 text-xl sm:leading-6" >
                              </div>
                            </div>
                        </div>
                  </div>
                  {% else %}

                    <div class="sm:col-span-3 mt-4">
                      <label for="title" class="block text-xl font-medium leading-6 text-gray-900">Name of Participant {{ forloop.counter }}</label>
                      <div class="mt-2 min-w-full">
                        <div class="min-w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                          <input type="text" maxlength="100" name="participantname" class="min-w-full block border-0 bg-transparent py-3 pl-4 text-gray-900 placeholder:text-gray-400 focus:ring-0 text-xl sm:leading-6" >
                        </div>
                      </div>
                  </div>

                  <div class="sm:col-span-3 mt-4">
                      <label for="title" class="block text-xl font-medium leading-6 text-gray-900">Full Roll Number (eg: 727623BAD***)</label>
                      <div class="mt-2 min-w-full">
                        <div class="min-w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                          <input type="text" name="rollno" oninput="this.value = this.value.toLowerCase()" class="rollno min-w-full block border-0 bg-transparent py-3 pl-4 text-gray-900 placeholder:text-gray-400 focus:ring-0 text-xl sm:leading-6" >
                        </div>
                      </div>
                  </div>
                  {% endif %}
                  {% endfor %}

                        <div class="sm:col-span-3 mt-4 relative">
                            <label for="title" class="block text-xl font-medium leading-6 text-gray-900">Mobile Number</label>
                            <div class="mt-2 w-full">
                              <div class="min-w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                                <input required name="contact" value="{{request.user.contact}}" class="contact w-full block border-0 bg-transparent py-3 pl-4 text-gray-900 placeholder:text-gray-400 focus:ring-0 text-xl sm:leading-6 relative" >
                              </div>
                            </div>
                        </div>
                </div>
              </div>

              </div>
              <div class="mt-6 w-full">
                <p class="text-red-400 font-semibold errortext text-xl text-center"></p>
                <button type="submit" class="submitbtn w-full  rounded-md bg-[#F2B229] px-6 py-4 text-lg font-semibold text-black shadow-sm hover:bg-[#ad8632] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Register</button>
              </div>
        </form>
    </div>
    <p class="min_team">{{event.min_team_size}}</p>
    <div class="absolute bottom-0 w-full bg-gray-100 p-2 font-poppins text-center font-medium">
        <p>Trouble Registering? Contact us: Ashwin (IIyr - IT): 9345857852, Magudeshwaran K (IIyr - A.D): 8838492241</p>
    </div>
    {% include 'core/generalscripts.html' %}
    <script>
      const min_team_size = parseInt(document.querySelector('.min_team').innerText)
      console.log(min_team_size)
      const form = document.querySelector('.form')
      const roll_inputs = document.querySelectorAll('.rollno')
      const error_text = document.querySelectorAll('.errortext')
      form.addEventListener('submit', (e)=>{
        let STATUS = true
        console.log("gel")
        e.preventDefault()
        for (let index = 0; index < min_team_size-1; index++) {
          if (roll_inputs[index].value === '')
          {
            STATUS = false    
          }
        }
        if (STATUS)
        {
          form.submit()
        }
        else
        {
          error_text.forEach(e=>e.innerText = `This event requires a minimum team size of ${min_team_size} members`)
        }
      })
      
    </script>
</body>
</html>
